<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ZzzAhu163.mapper.user.UserServiceMapper">

  <resultMap id="UserMap" type="User">
    <id column="id" property="id"/>
    <result column="user_name" property="name"/>
    <result column="password" property="password"/>
    <result column="email" property="email"/>
    <result column="user_role" property="userRole" typeHandler="ZzzAhu163.mapper.user.typehandler.UserRoleHandler"/>
    <result column="login_count" property="loginCount"/>
    <result column="last_login_time" property="lastLoginTime"/>
    <result column="create_time" property="createTime"/>
    <result column="update_time" property="updateTime"/>
  </resultMap>

  <sql id="userColumns">
    ${alias}.id, ${alias}.user_name, ${alias}.email, ${alias}.user_role,
    ${alias}.login_count, ${alias}.last_login_time, ${alias}.create_time,
    ${alias}.update_time, ${alias}.password
  </sql>

  <sql id="userCondition">
    <where>
      <if test="id > 0">
        AND ${alias}.id = #{id}
      </if>
      <if test="name != null and name != ''">
        AND ${alias}.user_name = #{name}
      </if>
      <if test="startTime > 0">
        AND unix_timestatmp(${alias}.create_time) >= #{startTime}
      </if>
      <if test="endTime > 0">
        AND unix_timestamp(${alias}.create_time) <![CDATA[ <= ]]> #{endTime}
      </if>
      <if test="user != null">
        <if test="user.password != null and user.password != ''">
          AND ${alias}.password = #{user.password}
        </if>
        <if test="user.email != null and user.email != ''">
          AND ${alias}.email = #{user.email}
        </if>
        <if test="user.userRole != null">
          AND ${alias}.user_role = #{user.userRole, typeHandler=ZzzAhu163.mapper.user.typehandler.UserRoleHandler}
        </if>
        <if test="user.loginCount >= 0">
          AND ${alias}.login_count = #{user.loginCount}
        </if>
      </if>
    </where>
  </sql>


  <!--add-->
  <insert id="insertUser" useGeneratedKeys="true" keyProperty="id">
    INSERT INTO user_list (user_name, password, email,
    create_time, update_time, user_role, login_count)
    VALUES
    (#{name}, #{password}, #{email}, now(), now(),
     #{userRole, typeHandler=ZzzAhu163.mapper.user.typehandler.UserRoleHandler}, #{loginCount})
  </insert>

  <!--delete-->
   <delete id="deleteUserById">
     DELETE FROM user_list WHERE id = #{id}
   </delete>

  <!--update-->


  <!--query list count-->
  <select id="queryUserListCount" resultType="int">
    SELECT COUNT(1) FROM user_list t
    <include refid="userCondition">
      <property name="alias" value="t"></property>
    </include>
  </select>

  <!--query list-->
  <select id="querySimpleUserList" resultMap="UserMap">
    SELECT
    <include refid="userColumns">
      <property name="alias" value="t"></property>
    </include>
    FROM user_list t
    <include refid="userCondition">
      <property name="alias" value="t"></property>
    </include>
    LIMIT #{offSet}, #{pageSize}
  </select>

  <!--queryUserGroupIdListById-->
  <select id="queryUserGroupIdListById" resultType="int">
    SELECT user_group_id FROM user_usergroup_map WHERE  user_id = #{userId}
  </select>
</mapper>
