<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ZzzAhu163.mapper.user.UserGroupMapper">

  <sql id="queryColumns">
    ${alias}.id,${alias}.name,${alias}.user_group_type,${alias}.is_build_in,
    ${alias}.description,${alias}.create_time
  </sql>

  <resultMap id="UserGroupMap" type="UserGroup">
    <id property="id" column="id"/>
    <result property="name" column="name"/>
    <result property="userGroupType" column="user_group_type" typeHandler="ZzzAhu163.mapper.user.typehandler.GroupTypeHandler"/>
    <result property="isBuildIn" column="is_build_in" typeHandler="ZzzAhu163.base.baseObject.typeHandler.IsBuildInHandler"/>
    <result property="description" column="description"/>
    <result property="createTime" column="create_time"/>
  </resultMap>

  <sql id="queryCondition">
    <where>
      <if test="id > 0">
        AND ${alias}.id = #{id}
      </if>
      <if test="name != null and name != ''">
        AND ${alias}.name = #{name}
      </if>
      <if test="keyWords != null and keyWords != ''">
        AND ${alias}.description like contact('%', #{keyWords}, '%')
      </if>
      <if test="startTime > 0">
        AND unix_timestamp(${alias}.create_time) >= #{startTime}
      </if>
      <if test="endTime > 0">
        AND unxi_timestamp(${alias}.create_time) <![CDATA[ <= ]]> #{endTime}
      </if>
      <if test="userGroup != null">
        <if test="userGroup.userGroupType != null">
          AND ${alias}.user_group_type = #{userGroup.userGroupType, typeHandler=ZzzAhu163.mapper.user.typehandler.GroupTypeHandler}
        </if>
        <if test="userGroup.isBuildIn != null">
          AND ${alias}.is_build_in = #{userGroup.isBuildIn, typeHandler=ZzzAhu163.base.baseObject.IsBuildIn}
        </if>
      </if>
    </where>
  </sql>

  <!--query list count-->
  <select id="queryUserGroupListCount" resultType="int">
    SELECT count(1) FROM user_group_list t
    <include refid="queryCondition">
      <property name="alias" value="t"/>
    </include>
  </select>

  <!--query list-->
  <select id="querySimpleUserGroupList" resultMap="UserGroupMap">
    SELECT
    <include refid="queryColumns">
      <property name="alias" value="t"/>
    </include>
    FROM user_group_list t
    <include refid="queryCondition">
      <property name="alias" value="t"/>
    </include>
  </select>

  <!--querySimpleUserGroupList-->
  <select id="querySimpleUserGroupListByIdList" resultMap="UserGroupMap">
    SELECT
    <include refid="queryColumns">
      <property name="alias" value="t"/>
    </include>
    FROM user_group_list t WHERE id IN
    <foreach collection="list" index="index" item="id" open="(" separator="," close=")">
      #{id}
    </foreach>
  </select>

  <!--queryUserGroupIdListByUserId-->
  <select id="queryUserGroupIdListByUserId" resultType="int">
    SELECT user_group_id FROM user_usergroup_map WHERE  user_id = #{userId}
  </select>

  <!--insertUserListIntoUserGroup-->
  <!--使用foreach批量插入数据-->
  <insert id="insertUserListIntoUserGroup">
    INSERT INTO user_usergroup_map (user_id, user_group_id, create_time)
    VALUE
    <foreach collection="userList" item="item" index="index" separator=",">
      (
        #{item.id}, #{userGroupId}, now()
      )
    </foreach>
  </insert>

  <!--query userGroupId by type-->
  <select id="queryUserGroupIdByType" resultType="int">
    SELECT id FROM user_group_list WHERE user_group_type = #{userGroupType.code}
  </select>
</mapper>
