<?xml version="1.0" encoding="UTF-8"?>
<b:beans xmlns="http://www.springframework.org/schema/security"
         xmlns:b="http://www.springframework.org/schema/beans"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://www.springframework.org/schema/beans
                             http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
                             http://www.springframework.org/schema/security
                             http://www.springframework.org/schema/security/spring-security-4.1.xsd">

  <!-- 不需要进行安全认证的资源 -->
  <http pattern="/resources/**" security="none" />
  <http pattern="/index.jsp" security="none" />
  <http pattern="/fail.jsp" security="none" />
  <!--login-processing-url不要设置为none，否则将不会拦截这个请求-->

  <!--auto-config设为false-->
  <http use-expressions="true" auto-config="true">
    <form-login login-processing-url="/user/login"
                login-page="/#/login"
                authentication-success-handler-ref="LoginSuccessHandler"
                authentication-failure-handler-ref="LoginFailedHandler"
                username-parameter="username" password-parameter="password"/>
    <intercept-url pattern="/user.jsp" access="hasAnyRole('ROLE_USER', 'ROLE_ADMIN')" />
    <intercept-url pattern="/admin.jsp" access="hasAnyRole('ROLE_ADMIN')" />
    <!--禁用scrf-->
    <csrf disabled="true"/>
  </http>

  <!-- 认证管理器  默认为ProviderManager-->
  <authentication-manager alias="authenticationManager">
    <authentication-provider ref="provider"></authentication-provider>
  </authentication-manager>

  <b:bean class="ZzzAhu163.service.security.MyAuthenticationProvider" id="provider"></b:bean>
</b:beans>
